body {
    background-color: rgb(29, 29, 29);
}

.css-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.button, .button2, .button3 {
    margin-right: 70em;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 71, 71, 0.438);
    top: 44%;
}

.obutton, .obutton2, .obutton3 {
    margin-right: 70em;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(242, 147, 46, 0.438);
    top: 44%;
}

.square, .square2 {
    margin-left: 70em;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 71, 71);
    top: 44%;
}

.osquare, .osquare2 {
    margin-left: 70em;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: rgba(242, 147, 46);
    top: 44%;
}

.css-sel-para {
    color: rgb(168, 168, 168);
    font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size: 32px;
    letter-spacing: 8px;
    margin-top: 70lvh;
    padding: 20px;
    background-color: rgba(255, 71, 71, 0.438);
    border: 2px solid rgb(0, 0, 0);
}

.dom-para {
    color: rgb(168, 168, 168);
    font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size: 32px;
    letter-spacing: 8px;
    margin-top: 80lvh;
    padding: 20px;
    background-color: rgba(255, 71, 71, 0.438);
    border: 2px solid rgb(0, 0, 0);
}

.joCounters, .joCounters2, .joCounters3 {
    color: rgb(168, 168, 168);
    font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size: 32px;
    letter-spacing: 8px;
    padding: 20px;
    background-color: rgba(255, 71, 71, 0.438);
    border: 2px solid rgb(0, 0, 0);
}

.JOPara {
    color: rgb(168, 168, 168);
    font-family: Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size: 32px;
    letter-spacing: 8px;
    margin-top: 20lvh;
    padding: 20px;
    background-color: rgba(255, 71, 71, 0.438);
    border: 2px solid rgb(0, 0, 0);
}

.css-sel-para:hover, .dom-para:hover, .JOPara:hover{
    cursor: pointer;
    background-color: rgba(175, 47, 47, 0.438);
}

.css-sel-para:active, .dom-para:active .JOPara:active{
    cursor: pointer;
    background-color: rgba(255, 97, 97, 0.438);
}



.button:hover, .button2:hover, .button3:hover {
    background-color: rgba(175, 47, 47, 0.438);
    cursor: pointer;
}

.obutton:hover, .obutton2:hover, .obutton3:hover {
    background-color: rgba(189, 116, 38, 0.438);
    cursor: pointer;
}
